.additional-goods {
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    padding: 30px;
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {
    padding: 110px;
    padding-top: 15px;
    padding-bottom: 86;
  }
}

.additional-goods__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding-bottom: 36px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding: 0;
    padding-left: 37px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 66px;
  }
}

.additional-goods__list-promo-container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 80px;
  }
}

.additional-goods__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
    border: 1px solid #cdcdcd;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
    border: 1px solid #cdcdcd;
    border-left: none;
    border-right: none;
    margin-bottom: 54px;
  }
}

.additional-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    &:not(:last-child) {
      border-bottom: 1px solid #cdcdcd;
    }
  }
}

.additional-goods__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
}

.additional-goods__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
}

.additional-goods__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
}
