@advantages-image-healty-url: url('../img/advantages-image-healty.svg');
@advantages-image-simple-cook-url: url('../img/advantages-image-simple-cook.svg');
@advantages-image-simple-meal-url: url('../img/advantages-image-simple-meal.svg');
@advantages-image-fast-changes-url: url('../img/advantages-image-fast-changes.svg');

.advantages {
  background-color: #ffffff;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 53px;
}

.advantages__title {
  margin: 0px;
  margin-bottom: 42px;
}

.advantages__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.advantages__item {
  margin-left: 80px;

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-80px) translateY(-2px);
    width: 60px;
    height: 60px;
  }

  &:not(:last-child) {
    margin-bottom: 26px;
  }

}

.advantages__item--healty {
  &::before {
    background-image: @advantages-image-healty-url;
  }
}

.advantages__item--simple-cook {
  &::before {
    background-image: @advantages-image-simple-cook-url;
  }
}

.advantages__item--simple-meal {
  &::before {
    background-image: @advantages-image-simple-meal-url;
  }
}

.advantages__item--fast-changes {
  &::before {
    background-image: @advantages-image-fast-changes-url;
  }
}

.advantages__text {
  margin: 0px;
}
