.contacts {
  padding-top: 26px;
}

.contacts__heading {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 26px;
}

.contacts__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  width: 139px;
  margin: 0;
  margin-right: 2px;
}

.contacts__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.contacts__map {
  height: 362px;
}

.contacts--dark {
  background-color: #f2f2f2;
}
