.form-page-heading__wrapper {
  width: @mobile-width;
  padding: 20px;
  padding-top: 28px;
  padding-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 70px;
    padding-top: 33px;
    padding-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 110px;
    padding-top: 60px;
    padding-bottom: 51px;
  }
}

.form-page-heading__title {
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.form-page-heading__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  word-break: break-word;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }
}
