.goods__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 67px;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 64px;
    padding: 110px;
    padding-top: 27px;
    padding-bottom: 60px;
  }
}

.goods__item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image title" "image description" "button button";
  grid-row-gap: 5px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ebebeb;


  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    grid-row-gap: 0;
    align-items: center;
    width: 324px;
    min-height: 430px;
    padding-top: 0;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
    box-sizing: border-box;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    min-height: 431px;
  }
}

.goods__item-background {
  display: none;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    position: absolute;
    display: block;
    top: 73px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    top: 80px;
  }
}

.goods__image-link {
  position: relative;
  grid-area: image;
  align-self: flex-end;
  text-align: center;

  @media (min-width: @tablet-width) {
    align-self: center;
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
  }
}

.goods__link {
  grid-area: title;
  width: 76px;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 130px;
    margin-bottom: 14px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 17px;
  }
}

.goods__title {
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    line-height: 21px;
  }
}

.goods__description-list {
  position: relative;
  grid-area: description;
  align-self: flex-start;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    align-self: center;
    width: 100%;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 26px;
  }
}

.goods__description-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 8px;
  }
}

.goods__order-link {
  position: relative;
  grid-area: button;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  margin-top: 7px;
  min-height: 40px;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}
