.main-button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
  border: none;
  min-height: 40px;
  width: 280px;
  padding: 11px;
  align-content: center;

  @media (min-width: @tablet-width) {
    min-height: 52px;
    width: 282px;
    font-size: 20px;
    line-height: 22px;
  }
}
