.main-button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: @basic-green;
  color: #ffffff;
  border: none;
  align-content: center;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    min-height: 52px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
