.main-title-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.main-title-text--light {
  color: #ffffff;
}

.main-title-text--dark {
  color: #000000;
}
