@input-border-color: #e7e7e7;
@input-border-hover-color: #cdcdcd;
@input-border-focus-color: #444444;
@input-border-invalid-color: #ff8282;

.nutrition-form {
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    padding: 70px;
    padding-top: 0;
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 110px;
    padding-top: 0;
    padding-bottom: 82px;
  }
}

.nutrition-form__cat-relative-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 60px;
    margin-bottom: 69px;
  }
}

.nutrition-form__cat {
  margin: 0;
  padding: 20px;
  padding-bottom: 24px;
  border: none;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 15px;
    margin-bottom: 72px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.nutrition-form__cat-input-wrapper {
  display: flex;
  align-items: baseline;

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: 20px;
    }
  }
}

.nutrition-form__cat-label {
  inline-size: max-content;
  margin-right: 12px;
}

.nutrition-form__cat-input {
  box-sizing: border-box;
  width: 100px;
  height: 45px;
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
  padding: 16px;
  padding-top: 13px;
  padding-bottom: 14px;
  border: 1px solid @input-border-color;

  @media (min-width: @tablet-width) {
    height: 52px;
    margin-left: 14px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &:hover {
    border-color: @input-border-hover-color;
  }

  &:focus {
    outline: 2px solid @input-border-focus-color;
  }

  &:invalid {
    outline: 2px solid @input-border-invalid-color;
  }
}

.nutrition-form__goal {
  margin: 0;
  padding: 20px;
  padding-top: 29px;
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    padding: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 75px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.nutrition-form__goal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nutrition-form__goal-item:not(:last-child) {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}

.nutrition-form__goal-control {
  position: relative;
  cursor: pointer;

  &:hover .nutrition-form__goal-control-mark {
    border-color: #bababa;
  }

  &:focus  {
    border-color: #bababa;
  }
}

.nutrition-form__goal-control-input:disabled {
  ~ .nutrition-form__goal-control-title {
    opacity: 0.3;
  }

  ~ .nutrition-form__goal-control-mark {
    opacity: 0.3;
  }
}

.nutrition-form__goal-control-title {
  margin-left: 45px;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
  }
}

.nutrition-form__goal-control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.nutrition-form__goal-control-input[type="radio"]:checked + .nutrition-form__goal-control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  content: "";
  background-color: @basic-green;
  border-radius: 50%;
  transform: translateY(-50%) translateX(-50%);

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.nutrition-form__owner {
  margin: 0;
  margin-top: 26px;
  padding: 20px;
  padding-top: 35px;
  padding-bottom: 25px;
  border: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 60px;
    padding-bottom: 67px;
  }
}

.nutrition-form__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 62px;

    br {
      display: none;
    }
  }
}

.nutrition-form__owner-label {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
}

.nutrition-form__owner-input {
  box-sizing: border-box;
  height: 45px;
  width: 100px;
  flex-grow: 1;
  margin: 0;
  margin-left: 12px;
  padding: 16px;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-right: 52px;
  border: 1px solid @input-border-color;

  @media (min-width: @tablet-width) {
    height: 52px;
  }
}

.nutrition-form__owner-input-icon {
  position: absolute;
  right: 19px;
  top: 50%;
  transform: translateY(-50%);
  color: #222222;
}

.nutrition-form__owner-input:hover {
  border-color: @input-border-hover-color;
}

.nutrition-form__owner-input:focus {
  outline: 2px solid @input-border-focus-color;

  ~ .nutrition-form__owner-input-icon {
    color: @basic-green;
  }
}

.nutrition-form__owner-input:invalid {
  outline: 2px solid @input-border-invalid-color;

  ~ .nutrition-form__owner-input-icon {
    color: @input-border-invalid-color;
  }
}

.nutrition-form__comment {
  margin: 0;
  padding: 20px;
  padding-top: 38px;
  padding-bottom: 0;
  border: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 67px;
  }
}

.nutrition-form__comment-area {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  padding-left: 15px;
  padding-right: 12px;
  width: 100%;
  height: 150px;
  border: 1px solid #e7e7e7;

  &::placeholder {
    color: #444444;
  }

  @media (min-width: @tablet-width) {
    padding: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 174px;
  }

  &:hover {
    border-color: @input-border-hover-color;
  }

  &:focus {
    outline: 2px solid @input-border-focus-color;
  }

  &:invalid {
    outline: 2px solid @input-border-invalid-color;
  }
}

.nutrition-form__additional {
  margin: 0;
  margin-top: 23px;
  padding: 20px;
  padding-top: 39px;
  padding-bottom: 21px;
  border: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 66px;
  }
}

.nutrition-form__additional-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 32px;
    grid-column-gap: 61px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 81px;
  }
}

.nutrition-form__additional-item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.nutrition-form__additional-control {
  position: relative;
}

.nutrition-form__additional-control {
  position: relative;
  cursor: pointer;

  &:hover .nutrition-form__additional-control-mark {
    border-color: #bababa;
  }

  &:focus  {
    border-color: #bababa;
  }
}

.nutrition-form__additional-control-input:disabled {
  ~ .nutrition-form__additional-control-title {
    opacity: 0.3;
  }

  ~ .nutrition-form__additional-control-mark {
    opacity: 0.3;
  }
}

.nutrition-form__additional-control-title {
  margin-left: 45px;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
  }
}

.nutrition-form__additional-control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.nutrition-form__additional-control-input[type="checkbox"]:checked + .nutrition-form__additional-control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-marker-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  transform: translateY(-50%) translateX(-50%);

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    background-image: url("../img/checkbox-marker-tablet.svg");
  }
}

.nutrition-form__additional-control-title {
  margin-left: 46px;

  @media (min-width: @tablet-width) {
    margin-left: 59px;
  }
}

.nutrition-form__bottom-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 81px;
  }
}

.nutrition-form__apply-button {
  font-size: 16px;
  line-height: 20px;
  padding: 7px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.nutrition-form__note {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
