.promo {
  position: relative;
  padding: 0;
  min-height: 290px;

  @media (min-width: @tablet-width) {
    min-height: 200px;
  }

  @media (min-width: @desktop-width) {
    min-height: 289px;
  }

  &::before {
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    content: "";
    height: 80px;
    background-image: url("../img/promo-icon.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-width) {
      top: 0;
      bottom: 0;
      left: 77px;
      height: auto;
      width: 80px;
    }

    @media (min-width: @desktop-width) {
      top: 56px;
      left: 0;
      right: 0;
      width: auto;
      height: 80px;
    }
  }
}

.promo__wrapper {
  background-color: @basic-green;
  /* Отключил проверку этого правила, так как ругается на "1x"/"2x" */
  /* stylelint-disable-next-line unit-no-unknown */
  background-image: url("../img/promo-layer.png"), image-set(url("../img/promo-background-mobile.jpg") 1x, url("../img/promo-background-mobile@2x.jpg") 2x);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 20px;
  padding-top: 187px;
  padding-bottom: 43px;

  @media (min-width: @tablet-width) {
    /* stylelint-disable-next-line unit-no-unknown */
    background-image: url("../img/promo-layer.png"), image-set(url("../img/promo-background-tablet.jpg") 1x, url("../img/promo-background-tablet@2x.jpg") 2x);
    padding: 70px;
    padding-left: 422px;
    padding-right: 124px;
    background-position: center;
  }

  @media (min-width: @desktop-width) {
    /* stylelint-disable-next-line unit-no-unknown */
    background-image: url("../img/promo-layer.png"), image-set(url("../img/promo-background-desktop.jpg") 1x, url("../img/promo-background-desktop@2x.jpg") 2x);
    padding: 20px;
    padding-top: 185px;
    padding-bottom: 42px;
  }
}

.promo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: block;
  margin: 0;
  text-align: center;
  word-break: break-word;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}
