.show-more {
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
}

.show-more__link {
  text-decoration: none;
  text-transform: uppercase;
}

.show-more__title {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.show-more__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
  word-wrap: break-word;
}
