.welcome {
  background-image: url("../img/welcome-background-layer.png"), url("../img/welcome-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.welcome__title {
  margin: 0px;
  margin-bottom: 25px;
  text-align: center;
}

.welcome__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px;
  margin-bottom: 29px;
  text-align: center;
}

.welcome__image {
  display: block;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}
